
@{
    ViewBag.Title = "Question";
}

<h2>Question</h2>

<div id="mainDiv">

    <div class="add-question">
        <input id="questionInput" type="text" name="Name" placeholder="What item?" />
        <br />

    </div>

    <div id="attachDependentDiv">

    </div>

    <div class="submit-question">
        <button id="addQuestionBtn" class="btn button">Add Question</button>
        <br />
        <p id="errorMessage"></p>
    </div>

    <h2>Add Question</h2>



</div>

<script src="~/Scripts/add-question.js"></script>
