@{
    ViewBag.Title = "Data Collector";
}

<div id="mainBody" class="main">

    <h2>What would you like to do?</h2>

    <button id="addItemBtn" class="btn button">Add Item</button><br />
    <button id="addQuestionBtn" class="btn button">Add Question</button><br />
    <button id="addAnswersBtn" class="btn button">Answer Questions</button>

</div>

<script src="~/Scripts/data-collector.js"></script>